.subtotal {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 150px;
    padding: 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-left: 20px;
    background-color: rgb(29, 72, 102);
    color: #FFF;
}

.subtotal__gift {
    display: flex;
    align-items: center;
}

.subtotal__gift > input {
    margin-right: 5px;
}

.subtotal > button {
    background: #ff9f00;
    border: 1px solid ;
    border-color: #a88734 #9c7e31 #846a29;
    border-radius: 2px;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
}